@model SugBlr.Models.Cards

@{
    Layout = null;
}

<div class="col-lg-12">
    <div class="comments-list">
        @foreach (var card in Model.CardList)
        {
            <div class="media ">
                <img src="@card.Image" class="rounded-circle img-fluid" alt="" width="294" height="400">
                <div class="media-body">
                    <h5 class="media-heading company_name">@card.CompanyName</h5>
                    <h2 class="media-heading user_name">@card.Name</h2>
                    <div>@Html.Raw(card.Description)</div>
                    <h3 class="media-heading topic_name">@card.Topic</h3>
                </div>
            </div>
        }
    </div>
</div>
