@model SugBlr.Models.Header

@{
    Layout = null;
}

<div class="component fixed-width-container col-12 bg-white text-dark py-4">
    <div class="container">
        <div class="row">
            <div class="component image col-12 col-md-2 ">
                <div class="component-content"><a title="" target="" class="" href="/"><img alt="Sugcon Europe" width="113" height="136" src="@Model.Logo"></a></div>
            </div>
            <div class="component navigation col-12 col-md-8 main-nav">
                <div class="component-content d-flex justify-content-end">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <button class="navbar-toggler ms-auto mb-3" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="true" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse  navbar-collapse" id="navbar">
                            <div class="navbar-nav d-flex flex-row me-auto justify-content-end">
                                <ul class="d-flex flex-row me-auto justify-content-end nav-item">
                                    @foreach (var link in Model.Links)
                                    {
                                        <li class="level0 item0 odd first flat-level1" tabindex="0">
                                            <div class="navigation-title"><a title="@link.link.Title" class="nav-link nav-item" href="@link.URL" target="@link.link.Target"><span>@link.link.Text</span></a></div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
